{% extends "base.html" %}
{% block title %}Edit AUTEUR{% endblock %}
{% block body %}
    <div class="home">
        <BODY bgcolor="yellow">
            <form method="POST" action="{{ url_for('auteur_update') }}">
                <div>

                </div>
                <br>
                <table border="1" cellpadding="5" cellspacing="5">
                    <thead>
                        <tr>
                            <th>ID Auteur</th>
                            <th>Nom auteur</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tr>
                            <td><input type="hidden" name="id_Auteur_edit_html" value="{{ row.id_Auteur }}"></td>
                            <td><input type = "text" name = "name_edit_Nom_Auteur_html" value="{{ row.Nom_Auteur }}"/></td>
                            <td><button class="btn btn-warning" type="submit">Update</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </BODY>
    </div>
{% endblock %}