{% extends "base.html" %}
{% block title %} Afficher AUTEUR {% endblock %}
{% block body %}
        <br>
        <table border="1" cellpadding="5" cellspacing="5">

            <thead>
                <tr>
                    <th>id</th>
                    <th>Auteur</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            {% for row in data %}
  <tr>

            <td>{{ row.id_Auteur }}</td>
            <td>{{ row.Nom_Auteur }}</td>
    <td> <a href="{{ url_for('auteur_add') }}">Add</a> </td>
    <td> <a href="{{ url_for('auteur_edit', id_Auteur_edit_html=row.id_Auteur) }}">Edit</a> </td>
    <td> <a href="{{ url_for('auteur_select_delete', id_Auteur_delete_html=row.id_Auteur) }}">Delete</a> </td>



  </tr>
            {% endfor %}

        </table>
{% endblock %}

