{% extends "base.html" %}
{% block title %} Homepage BOOKS {% endblock %}
{% block body %}
<h4>Home page</h4>
<h2>Le vrai début de votre projet....ENFIN !!!</h2>




<h1>Pour l'exercice que vous devez me rendre après les vacances de Pâques :</h1>
<ul>
  <li><h2>Il faut que mon code soit adapté à votre base de données.</h2></li>
  <li><h2>Au minimum sur deux tables qui sont liées par une table intermédiaire.</h2></li>
  <li><h2>Mais ne pas toucher aux tables intermédiaires, vu que je vais vous imposer une gestion avec du javascript.</h2></li>
</ul>






<h1>Pour cette démo :</h1>
<ul>
  <li>On peut réaliser toutes les actions CRUD (Create Read Update Delete) sur la table "t_auteur"</li>
  <li>Pour t_books uniquement l'action Read (afficher)</li>
  <li>Pour t_books_a_auteur (la table intermédiaire) rien n'est fait...car je vous imposerai MA façon de faire !!!</li>
</ul>

<p>Comme la table books est une table qui est "extérieure" à la table intermédiaire,</p>
<p>les actions CRUD (Create Read Update Delete) sont identiques mais avec quelques attributs en plus.</p>
<br>
<p>En conséquence, je ne voulais pas tout faire "pour vous" !!!</p>
<p>Cela va vous permettre de constater que vous êtes capable de rendre votre projet utilisable pour ce module 104.</p>

<h4>
  Pour progresser, il faut lire mes commentaires, ainsi vous saurez ce qui se cache derrière MON traitement de données.<br>
  Si vous ne comprenez toujours pas, une recherche... et quelques tutos..si vous ne comprenez toujours rien...alors je suis là !!<br><br>
  Après avoir copié et adapté mon code, il faudra que votre code soit commenté. C'est une condition de validation de ce module 104.<br>
  Dans le code, je montre différentes façons pour rediriger les erreurs vers les pages HTML, rien n'est idéal.<br>
  Mais sans la gestions des erreurs votre projet n'est pas validé pour ce module 104.<br>
  Suivez les directives et vous serez sur le bon "rail", la bonne "voie"... <br>
  écartez-vous de ce que JE demande et c'est le déraillement.<br><br>
  Petit conseil : ne pas encore faire de design de la présentation des données. L'important c'est d'abord, de bien gérer les données et les erreurs. Cela reste un "petit" conseil.
</h4>

Si vous avez des questions (même pendant ces vacances) un mail avec URGENT: à l'adresse habituelle.<br><br><br><br>
Bon travail et courage pour cette situation complétement hallucinante.(le covid-19...pas le module 104)
<br><br><br><br>
OM pas à la 707, mais ailleurs !
{% endblock %}